<h1><u>Welcome to Tacostagram</u></h1>
<ul> </ul>
<h1>Places</h1>

<ul>
  <% for place in @places %>
    <li><a href="/sessions/new" class = "btn btn-light btn-sm"><%= place["name"] %></a></li>
<p></p> 
  <% end %>
</ul>
<p>
</p>

<a class="btn btn-primary" href="/sessions/new" role="button">Go to Login</a>
<a class="btn btn-primary" href="/users/new" role="button">Sign Up</a>
